# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
# build # we need it for github-pages

# misc
.DS_Store
.env
npm-debug.log
