.horizontalContainer {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.noBotMargin {
  margin-bottom: 0;
}

.content {
  padding-bottom: 40px;
}