.root {
  background-color: #F2F2F2;
  min-height: 100vh;
}

.horizontalContainer {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
