.card {
  width: 200px;
  height: 300px;
  cursor: pointer;
  padding: 20px;
  margin: 10px 10px;
  &:hover{
    transform: scale(1.05);
  }
}

.previewImg {
  display: block;
  position: absolute;
  width: 80%;
  top: 0;
  bottom: 50px;
  text-align: center;
  margin: auto; /* vertical center */
  box-sizing: border-box;
}

.stickToBottom {
  position: absolute;
  bottom: 0px;
}

.link {
  text-decoration: none;
  display: inline-block;
}
