.imgSize {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.bg {
  background-position: center;
  /* Make the background image cover the area of the <div>, and clip the excess */
  background-size: cover;
}
